	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:10
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-accesibility-sign:before { content: "\f100"; }
.flaticon-access-key-filled-circular-tool:before { content: "\f101"; }
.flaticon-acrobat-reader-file:before { content: "\f102"; }
.flaticon-add-button-circle:before { content: "\f103"; }
.flaticon-add-filled-cross-sign:before { content: "\f104"; }
.flaticon-airplane-filled-shape:before { content: "\f105"; }
.flaticon-airplane-silhouette:before { content: "\f106"; }
.flaticon-alarm-bell-outline:before { content: "\f107"; }
.flaticon-alphabetical-order:before { content: "\f108"; }
.flaticon-anchor-navigational-interface-sign:before { content: "\f109"; }
.flaticon-antique-building:before { content: "\f10a"; }
.flaticon-archive-filled-box:before { content: "\f10b"; }
.flaticon-arrow-angle-pointing-to-right:before { content: "\f10c"; }
.flaticon-arrow-double-up-and-down-sign:before { content: "\f10d"; }
.flaticon-arrow-down-broken-filled-angle:before { content: "\f10e"; }
.flaticon-arrow-down-curve:before { content: "\f10f"; }
.flaticon-arrow-down-filled-triangle:before { content: "\f110"; }
.flaticon-arrow-left-broken-angle:before { content: "\f111"; }
.flaticon-arrow-pointing-to-right:before { content: "\f112"; }
.flaticon-arrow-right-curve:before { content: "\f113"; }
.flaticon-arrows-circle-of-two-rotating-in-clockwise-direction:before { content: "\f114"; }
.flaticon-arrows-couple-to-opposite-directions:before { content: "\f115"; }
.flaticon-arrows-right-and-left-filled-triangles:before { content: "\f116"; }
.flaticon-arrows-triangles-pointing-to-opposite-sides:before { content: "\f117"; }
.flaticon-arrows-up-and-down-filled-triangles:before { content: "\f118"; }
.flaticon-ascending-arrow:before { content: "\f119"; }
.flaticon-ascending-business-graphic:before { content: "\f11a"; }
.flaticon-asterisk:before { content: "\f11b"; }
.flaticon-audio-file:before { content: "\f11c"; }
.flaticon-audio-filled-speaker-of-interface:before { content: "\f11d"; }
.flaticon-automatic-rotation:before { content: "\f11e"; }
.flaticon-automatic-rotation-to-vertical-or-horizontal-position:before { content: "\f11f"; }
.flaticon-back-filled-arrow:before { content: "\f120"; }
.flaticon-back-left-arrow:before { content: "\f121"; }
.flaticon-back-left-arrow-circular-button:before { content: "\f122"; }
.flaticon-back-triangular-arrow-square-button-outline:before { content: "\f123"; }
.flaticon-back-triangular-left-arrow-in-square-filled-button:before { content: "\f124"; }
.flaticon-barcode-lines:before { content: "\f125"; }
.flaticon-bars-graphic:before { content: "\f126"; }
.flaticon-bell-silhouette:before { content: "\f127"; }
.flaticon-bold:before { content: "\f128"; }
.flaticon-bomb:before { content: "\f129"; }
.flaticon-book:before { content: "\f12a"; }
.flaticon-book-1:before { content: "\f12b"; }
.flaticon-book-closed-tool:before { content: "\f12c"; }
.flaticon-bookmark-filled-interface-sign:before { content: "\f12d"; }
.flaticon-bottle-with-liquid:before { content: "\f12e"; }
.flaticon-browser-button:before { content: "\f12f"; }
.flaticon-building:before { content: "\f130"; }
.flaticon-building-silhouette:before { content: "\f131"; }
.flaticon-burn:before { content: "\f132"; }
.flaticon-business-ascendant-graphic-line:before { content: "\f133"; }
.flaticon-business-stats-file:before { content: "\f134"; }
.flaticon-button-of-three-squares:before { content: "\f135"; }
.flaticon-button-of-three-vertical-squares:before { content: "\f136"; }
.flaticon-calculator:before { content: "\f137"; }
.flaticon-car-filled-frontal-transport:before { content: "\f138"; }
.flaticon-characters-interface-button-with-oriental-sign:before { content: "\f139"; }
.flaticon-characters-interface-sign:before { content: "\f13a"; }
.flaticon-chat-message-oval-outlined-speech-bubble:before { content: "\f13b"; }
.flaticon-chat-of-a-couple-of-filled-rectangular-speech-bubbles:before { content: "\f13c"; }
.flaticon-chat-oval-filled-speech-bubble:before { content: "\f13d"; }
.flaticon-chat-oval-filled-speech-bubbles:before { content: "\f13e"; }
.flaticon-chatting-oval-speech-bubbles:before { content: "\f13f"; }
.flaticon-checked-box:before { content: "\f140"; }
.flaticon-checkmark-for-verification:before { content: "\f141"; }
.flaticon-checkmark-outline:before { content: "\f142"; }
.flaticon-christmas-tree-silhouette:before { content: "\f143"; }
.flaticon-circle:before { content: "\f144"; }
.flaticon-circle-of-two-clockwise-arrows-rotation:before { content: "\f145"; }
.flaticon-circle-with-irregular-shape-inside:before { content: "\f146"; }
.flaticon-circles-loader:before { content: "\f147"; }
.flaticon-clipboard:before { content: "\f148"; }
.flaticon-clipboard-filled-with-text:before { content: "\f149"; }
.flaticon-clipboard-rotated-interface-tool:before { content: "\f14a"; }
.flaticon-clock-circular-outline:before { content: "\f14b"; }
.flaticon-clock-with-circular-arrow:before { content: "\f14c"; }
.flaticon-cloud-filled-shape:before { content: "\f14d"; }
.flaticon-cocktail-glass-silhouette:before { content: "\f14e"; }
.flaticon-code-programming-file:before { content: "\f14f"; }
.flaticon-code-programming-signs:before { content: "\f150"; }
.flaticon-code-sign:before { content: "\f151"; }
.flaticon-collapse-rectangular-filled-button-of-interface:before { content: "\f152"; }
.flaticon-compass:before { content: "\f153"; }
.flaticon-compressed-zip-file:before { content: "\f154"; }
.flaticon-contrast-circular-button:before { content: "\f155"; }
.flaticon-copy-interface-outlined-sign:before { content: "\f156"; }
.flaticon-credit-or-debit-card:before { content: "\f157"; }
.flaticon-cropping-tool-button-of-interface:before { content: "\f158"; }
.flaticon-cross:before { content: "\f159"; }
.flaticon-cross-circular-button:before { content: "\f15a"; }
.flaticon-cross-remove-sign:before { content: "\f15b"; }
.flaticon-crosshair-target-interface:before { content: "\f15c"; }
.flaticon-cube:before { content: "\f15d"; }
.flaticon-cubes-stack:before { content: "\f15e"; }
.flaticon-curved-up-arrow:before { content: "\f15f"; }
.flaticon-data-storage-discs-stack:before { content: "\f160"; }
.flaticon-database:before { content: "\f161"; }
.flaticon-design-button:before { content: "\f162"; }
.flaticon-design-structure-square-button:before { content: "\f163"; }
.flaticon-digital-interface-sign-of-motherboard:before { content: "\f164"; }
.flaticon-dislike-social-gesture:before { content: "\f165"; }
.flaticon-double-horizontal-arrow:before { content: "\f166"; }
.flaticon-down-arrow:before { content: "\f167"; }
.flaticon-down-arrow-angle:before { content: "\f168"; }
.flaticon-down-arrow-button:before { content: "\f169"; }
.flaticon-down-filled-hand-gesture:before { content: "\f16a"; }
.flaticon-down-triangular-arrow-button:before { content: "\f16b"; }
.flaticon-download-from-the-cloud:before { content: "\f16c"; }
.flaticon-download-interface-sign:before { content: "\f16d"; }
.flaticon-edit:before { content: "\f16e"; }
.flaticon-email-outbox:before { content: "\f16f"; }
.flaticon-equalization-button:before { content: "\f170"; }
.flaticon-equalizer-console-with-three-switches-at-different-levels:before { content: "\f171"; }
.flaticon-erase:before { content: "\f172"; }
.flaticon-event-empty-calendar-page:before { content: "\f173"; }
.flaticon-exclamation-warning-sign:before { content: "\f174"; }
.flaticon-expand:before { content: "\f175"; }
.flaticon-expand-four-arrows-rectangular-button:before { content: "\f176"; }
.flaticon-eye-on-monitor-screen:before { content: "\f177"; }
.flaticon-facebook-logo:before { content: "\f178"; }
.flaticon-facebook-square-social-logo:before { content: "\f179"; }
.flaticon-faq-circular-filled-button:before { content: "\f17a"; }
.flaticon-favorite:before { content: "\f17b"; }
.flaticon-fax:before { content: "\f17c"; }
.flaticon-file-add-filled-button:before { content: "\f17d"; }
.flaticon-file-fill-rectangle:before { content: "\f17e"; }
.flaticon-file-of-text:before { content: "\f17f"; }
.flaticon-file-outlined-blank-paper-sheet:before { content: "\f180"; }
.flaticon-film-strip:before { content: "\f181"; }
.flaticon-filter-filled-tool:before { content: "\f182"; }
.flaticon-finger-pointing-left-of-filled-hand-gesture:before { content: "\f183"; }
.flaticon-finger-pointing-up-of-filled-hand-gesture:before { content: "\f184"; }
.flaticon-fire-extinguisher:before { content: "\f185"; }
.flaticon-flag-checkered-sportive-tool:before { content: "\f186"; }
.flaticon-flag-fill-shape:before { content: "\f187"; }
.flaticon-flag-filled-shape:before { content: "\f188"; }
.flaticon-flag-or-text-lines-with-a-video:before { content: "\f189"; }
.flaticon-flag-sportive-tool-outline:before { content: "\f18a"; }
.flaticon-folder-filled-shape:before { content: "\f18b"; }
.flaticon-four-thumbnails-visualization-button:before { content: "\f18c"; }
.flaticon-game-control:before { content: "\f18d"; }
.flaticon-gear-configuration-interface:before { content: "\f18e"; }
.flaticon-gears-configuration-tool:before { content: "\f18f"; }
.flaticon-giftbox:before { content: "\f190"; }
.flaticon-google-plus-logo:before { content: "\f191"; }
.flaticon-graduate-hat:before { content: "\f192"; }
.flaticon-group-filled-persons:before { content: "\f193"; }
.flaticon-group-of-people:before { content: "\f194"; }
.flaticon-hammer-silhouette:before { content: "\f195"; }
.flaticon-hammer-silhouette-1:before { content: "\f196"; }
.flaticon-hard-disk:before { content: "\f197"; }
.flaticon-headphones-silhouette:before { content: "\f198"; }
.flaticon-help-circular-filled-button:before { content: "\f199"; }
.flaticon-hierarchical-structure:before { content: "\f19a"; }
.flaticon-hierarchy:before { content: "\f19b"; }
.flaticon-home-silhouette:before { content: "\f19c"; }
.flaticon-horizontal-rectangle-with-lines:before { content: "\f19d"; }
.flaticon-horizontal-rectangles-lines:before { content: "\f19e"; }
.flaticon-image:before { content: "\f19f"; }
.flaticon-image-file-type:before { content: "\f1a0"; }
.flaticon-image-filled-square-button:before { content: "\f1a1"; }
.flaticon-image-square-button:before { content: "\f1a2"; }
.flaticon-images:before { content: "\f1a3"; }
.flaticon-inbox-download-interface-sign:before { content: "\f1a4"; }
.flaticon-inbox-empty-tray:before { content: "\f1a5"; }
.flaticon-information:before { content: "\f1a6"; }
.flaticon-information-1:before { content: "\f1a7"; }
.flaticon-information-circle:before { content: "\f1a8"; }
.flaticon-ink-drop-filled-shape:before { content: "\f1a9"; }
.flaticon-interface-button-of-four-thumbnails:before { content: "\f1aa"; }
.flaticon-interface-circular-sign:before { content: "\f1ab"; }
.flaticon-invisible:before { content: "\f1ac"; }
.flaticon-italic-text:before { content: "\f1ad"; }
.flaticon-jar-filled-silhouette:before { content: "\f1ae"; }
.flaticon-key-access-button:before { content: "\f1af"; }
.flaticon-keyword:before { content: "\f1b0"; }
.flaticon-label-commercial-circular-filled-tool:before { content: "\f1b1"; }
.flaticon-laptop:before { content: "\f1b2"; }
.flaticon-layout:before { content: "\f1b3"; }
.flaticon-layout-square-interface-button:before { content: "\f1b4"; }
.flaticon-leaf-filled-shape:before { content: "\f1b5"; }
.flaticon-left-and-right-arrows-buttons:before { content: "\f1b6"; }
.flaticon-left-angle-arrow:before { content: "\f1b7"; }
.flaticon-left-arrow:before { content: "\f1b8"; }
.flaticon-left-arrow-1:before { content: "\f1b9"; }
.flaticon-left-filled-arrow:before { content: "\f1ba"; }
.flaticon-left-quote:before { content: "\f1bb"; }
.flaticon-left-quote-1:before { content: "\f1bc"; }
.flaticon-lifesaver:before { content: "\f1bd"; }
.flaticon-lifesaver-1:before { content: "\f1be"; }
.flaticon-lightbulb-creativity-interface-sign-outline:before { content: "\f1bf"; }
.flaticon-lightbulb-filled-interface-sign:before { content: "\f1c0"; }
.flaticon-lightning-bolt-filled-shape:before { content: "\f1c1"; }
.flaticon-like:before { content: "\f1c2"; }
.flaticon-like-filled-hand:before { content: "\f1c3"; }
.flaticon-like-heart-social-shape-outline:before { content: "\f1c4"; }
.flaticon-like-social-heart:before { content: "\f1c5"; }
.flaticon-link:before { content: "\f1c6"; }
.flaticon-link-break:before { content: "\f1c7"; }
.flaticon-list-button:before { content: "\f1c8"; }
.flaticon-list-square-button:before { content: "\f1c9"; }
.flaticon-list-with-bullets:before { content: "\f1ca"; }
.flaticon-lock-closed-padlock-silhouette:before { content: "\f1cb"; }
.flaticon-lock-square-locked-filled-padlock:before { content: "\f1cc"; }
.flaticon-login:before { content: "\f1cd"; }
.flaticon-login-left-arrow:before { content: "\f1ce"; }
.flaticon-logout:before { content: "\f1cf"; }
.flaticon-logout-button:before { content: "\f1d0"; }
.flaticon-logout-square-button:before { content: "\f1d1"; }
.flaticon-logout-square-outlined-interface-button:before { content: "\f1d2"; }
.flaticon-logout-web-button:before { content: "\f1d3"; }
.flaticon-lyrics:before { content: "\f1d4"; }
.flaticon-magic-wand:before { content: "\f1d5"; }
.flaticon-man-silhouette-with-raised-arms:before { content: "\f1d6"; }
.flaticon-man-with-tie:before { content: "\f1d7"; }
.flaticon-map:before { content: "\f1d8"; }
.flaticon-megaphone-or-speaker-silhouette:before { content: "\f1d9"; }
.flaticon-men-silhouette:before { content: "\f1da"; }
.flaticon-menu:before { content: "\f1db"; }
.flaticon-message-rectangular-filled-speech-bubble:before { content: "\f1dc"; }
.flaticon-message-speech-bubble-rectangle-with-text:before { content: "\f1dd"; }
.flaticon-minus:before { content: "\f1de"; }
.flaticon-minus-button:before { content: "\f1df"; }
.flaticon-minus-button-1:before { content: "\f1e0"; }
.flaticon-minus-button-rectangle:before { content: "\f1e1"; }
.flaticon-minus-line:before { content: "\f1e2"; }
.flaticon-minus-sign-in-filled-circle:before { content: "\f1e3"; }
.flaticon-mobile-phone-filled-tool:before { content: "\f1e4"; }
.flaticon-money-bill-of-one:before { content: "\f1e5"; }
.flaticon-monitor:before { content: "\f1e6"; }
.flaticon-movie-camera-silhouette:before { content: "\f1e7"; }
.flaticon-multimedia-play-square-button:before { content: "\f1e8"; }
.flaticon-music-file-filled-interface-sign:before { content: "\f1e9"; }
.flaticon-musical-note:before { content: "\f1ea"; }
.flaticon-mute-microphone:before { content: "\f1eb"; }
.flaticon-new-email-button:before { content: "\f1ec"; }
.flaticon-new-email-filled-back-envelope:before { content: "\f1ed"; }
.flaticon-new-email-filled-closed-envelope-back:before { content: "\f1ee"; }
.flaticon-newspaper:before { content: "\f1ef"; }
.flaticon-night-moon-phase:before { content: "\f1f0"; }
.flaticon-numbered-list:before { content: "\f1f1"; }
.flaticon-numeric-ascending-sort:before { content: "\f1f2"; }
.flaticon-numerical-descending-sort-button-of-interface:before { content: "\f1f3"; }
.flaticon-old-elevator-levels-tool:before { content: "\f1f4"; }
.flaticon-omega-sign:before { content: "\f1f5"; }
.flaticon-orientation-filled-arrow:before { content: "\f1f6"; }
.flaticon-oval-filled-speech-bubble-with-circles:before { content: "\f1f7"; }
.flaticon-paintbrush:before { content: "\f1f8"; }
.flaticon-painting-painter-palette-filled-tool:before { content: "\f1f9"; }
.flaticon-paper-airplane:before { content: "\f1fa"; }
.flaticon-paper-plane:before { content: "\f1fb"; }
.flaticon-paragraph-sign:before { content: "\f1fc"; }
.flaticon-paragraph-text-button-of-interface:before { content: "\f1fd"; }
.flaticon-paragraph-text-interface-sign:before { content: "\f1fe"; }
.flaticon-pawprint:before { content: "\f1ff"; }
.flaticon-pencil-striped-writing-tool:before { content: "\f200"; }
.flaticon-person-business-card:before { content: "\f201"; }
.flaticon-person-in-a-circle:before { content: "\f202"; }
.flaticon-phone:before { content: "\f203"; }
.flaticon-phone-call-button:before { content: "\f204"; }
.flaticon-phone-call-square-button:before { content: "\f205"; }
.flaticon-photo-camera:before { content: "\f206"; }
.flaticon-photo-camera-1:before { content: "\f207"; }
.flaticon-photo-camera-filled-tool:before { content: "\f208"; }
.flaticon-photo-capture-sound:before { content: "\f209"; }
.flaticon-photo-sharing-square-interface-button:before { content: "\f20a"; }
.flaticon-pin-circular-silhouette:before { content: "\f20b"; }
.flaticon-pin-filled-silhouette:before { content: "\f20c"; }
.flaticon-pin-silhouette:before { content: "\f20d"; }
.flaticon-placeholder-filled-point:before { content: "\f20e"; }
.flaticon-play-filled-square-button:before { content: "\f20f"; }
.flaticon-play-filled-triangle-button-of-right-arrow:before { content: "\f210"; }
.flaticon-play-player-button-of-video:before { content: "\f211"; }
.flaticon-play-square-control-button-for-multimedia:before { content: "\f212"; }
.flaticon-plug-silhouette:before { content: "\f213"; }
.flaticon-portfolio-filled-open-folder:before { content: "\f214"; }
.flaticon-portfolio-filled-tool:before { content: "\f215"; }
.flaticon-power-button:before { content: "\f216"; }
.flaticon-printing-filled-interface-button:before { content: "\f217"; }
.flaticon-programming-code-signs:before { content: "\f218"; }
.flaticon-prohibition:before { content: "\f219"; }
.flaticon-puzzle-piece-silhouette:before { content: "\f21a"; }
.flaticon-question-sign-in-square-outline:before { content: "\f21b"; }
.flaticon-question-square-button:before { content: "\f21c"; }
.flaticon-quote-sign:before { content: "\f21d"; }
.flaticon-rec-circular-button:before { content: "\f21e"; }
.flaticon-rectangle-with-stripes:before { content: "\f21f"; }
.flaticon-rectangular-interface-button:before { content: "\f220"; }
.flaticon-rectangular-paper-sheets-filled-sign:before { content: "\f221"; }
.flaticon-recycle-bin:before { content: "\f222"; }
.flaticon-recycle-bin-outline:before { content: "\f223"; }
.flaticon-recycle-three-arrows-triangle:before { content: "\f224"; }
.flaticon-restaurant-fork-and-knife:before { content: "\f225"; }
.flaticon-return-arrow-curve-pointing-left:before { content: "\f226"; }
.flaticon-retweet-arrows:before { content: "\f227"; }
.flaticon-right-arrow:before { content: "\f228"; }
.flaticon-right-arrow-in-square-button:before { content: "\f229"; }
.flaticon-right-direction-filled-hand-gesture:before { content: "\f22a"; }
.flaticon-right-pagination:before { content: "\f22b"; }
.flaticon-right-quotation-sign:before { content: "\f22c"; }
.flaticon-ring:before { content: "\f22d"; }
.flaticon-road-perspective:before { content: "\f22e"; }
.flaticon-rocket-filled-space-ship:before { content: "\f22f"; }
.flaticon-rss-feed-suscription-square-filled-button:before { content: "\f230"; }
.flaticon-safe-box:before { content: "\f231"; }
.flaticon-scissors-open-tool:before { content: "\f232"; }
.flaticon-search:before { content: "\f233"; }
.flaticon-share:before { content: "\f234"; }
.flaticon-shield-checkered-tool:before { content: "\f235"; }
.flaticon-shield-of-security-interface:before { content: "\f236"; }
.flaticon-shield-silhouette-of-rhomboid-shape:before { content: "\f237"; }
.flaticon-shopping-bag:before { content: "\f238"; }
.flaticon-shopping-cart-silhouette:before { content: "\f239"; }
.flaticon-shuffle-arrows:before { content: "\f23a"; }
.flaticon-shuffle-crossing-arrows:before { content: "\f23b"; }
.flaticon-size-option-square-button-of-lines:before { content: "\f23c"; }
.flaticon-smile:before { content: "\f23d"; }
.flaticon-smile-face-in-a-rectangle:before { content: "\f23e"; }
.flaticon-sort-alphabetically-down-from-z-to-a:before { content: "\f23f"; }
.flaticon-sort-descending:before { content: "\f240"; }
.flaticon-sort-down:before { content: "\f241"; }
.flaticon-speaker:before { content: "\f242"; }
.flaticon-speaker-filled-audio-tool:before { content: "\f243"; }
.flaticon-speaker-filled-interface-tool:before { content: "\f244"; }
.flaticon-speech-bubble-with-cross-close-sign:before { content: "\f245"; }
.flaticon-speedometer:before { content: "\f246"; }
.flaticon-spoon-shape:before { content: "\f247"; }
.flaticon-sport-recognition-ribbon-badge:before { content: "\f248"; }
.flaticon-square-filled-geometric-shape:before { content: "\f249"; }
.flaticon-square-outline:before { content: "\f24a"; }
.flaticon-star-filled-fivepointed-shape:before { content: "\f24b"; }
.flaticon-star-social-favorite-middle-full:before { content: "\f24c"; }
.flaticon-stats-circular-filled-graphic:before { content: "\f24d"; }
.flaticon-street-square:before { content: "\f24e"; }
.flaticon-strikethrough-text-interface-sign:before { content: "\f24f"; }
.flaticon-subscribe-rss-button:before { content: "\f250"; }
.flaticon-sun:before { content: "\f251"; }
.flaticon-tablet-vertical-tool:before { content: "\f252"; }
.flaticon-tag-filled-tool:before { content: "\f253"; }
.flaticon-target-of-concentric-circles:before { content: "\f254"; }
.flaticon-taxi-filled-frontal-view:before { content: "\f255"; }
.flaticon-tea-cup-filled-shape:before { content: "\f256"; }
.flaticon-telephone-auricular:before { content: "\f257"; }
.flaticon-text-center-alignment:before { content: "\f258"; }
.flaticon-text-correction-verification:before { content: "\f259"; }
.flaticon-text-file-filled-interface-paper-sheet:before { content: "\f25a"; }
.flaticon-text-file-square-filled-button:before { content: "\f25b"; }
.flaticon-text-justified-option-interface-button:before { content: "\f25c"; }
.flaticon-text-left-alignment:before { content: "\f25d"; }
.flaticon-text-letter:before { content: "\f25e"; }
.flaticon-text-letter-interface:before { content: "\f25f"; }
.flaticon-text-right-alignment-button:before { content: "\f260"; }
.flaticon-thumb-down-social-filled-gesture:before { content: "\f261"; }
.flaticon-travel-bag-or-portfolio-filled-tool:before { content: "\f262"; }
.flaticon-trophy-sportive-cup-silhouette:before { content: "\f263"; }
.flaticon-truck-silhouette:before { content: "\f264"; }
.flaticon-twitter-social-network-logo:before { content: "\f265"; }
.flaticon-umbrella-filled-opened-tool:before { content: "\f266"; }
.flaticon-underlined-text-interface-button:before { content: "\f267"; }
.flaticon-unlocked-padlock-filled-shape:before { content: "\f268"; }
.flaticon-unlocked-padlock-filled-silhouette:before { content: "\f269"; }
.flaticon-up-and-down-arrows-button:before { content: "\f26a"; }
.flaticon-up-arrow:before { content: "\f26b"; }
.flaticon-up-arrow-angle:before { content: "\f26c"; }
.flaticon-up-arrow-button:before { content: "\f26d"; }
.flaticon-up-arrow-filled-angle:before { content: "\f26e"; }
.flaticon-up-arrow-in-square-filled-button:before { content: "\f26f"; }
.flaticon-up-arrow-triangle-in-square-outlined-button:before { content: "\f270"; }
.flaticon-up-triangle:before { content: "\f271"; }
.flaticon-upload:before { content: "\f272"; }
.flaticon-upload-to-internet-cloud:before { content: "\f273"; }
.flaticon-user-filled-person-shape:before { content: "\f274"; }
.flaticon-user-profile-square-button:before { content: "\f275"; }
.flaticon-verification-square-button:before { content: "\f276"; }
.flaticon-verify-button-circle:before { content: "\f277"; }
.flaticon-video-file:before { content: "\f278"; }
.flaticon-video-file-1:before { content: "\f279"; }
.flaticon-video-file-filled-sign:before { content: "\f27a"; }
.flaticon-video-filled-camera-silhouette:before { content: "\f27b"; }
.flaticon-virus-bug:before { content: "\f27c"; }
.flaticon-visible-opened-eye-interface-option:before { content: "\f27d"; }
.flaticon-voice:before { content: "\f27e"; }
.flaticon-voice-microphone:before { content: "\f27f"; }
.flaticon-volume-bars-in-a-rectangle:before { content: "\f280"; }
.flaticon-volume-vertical-ascending-lines:before { content: "\f281"; }
.flaticon-warning-exclamation-sign-in-a-circle:before { content: "\f282"; }
.flaticon-warning-exclamation-signal-in-a-triangle:before { content: "\f283"; }
.flaticon-weekly-calendar:before { content: "\f284"; }
.flaticon-woman-silhouette:before { content: "\f285"; }
.flaticon-word-filled-file:before { content: "\f286"; }
.flaticon-wordpress:before { content: "\f287"; }
.flaticon-wordpress-logo:before { content: "\f288"; }
.flaticon-wordpress-logo-1:before { content: "\f289"; }
.flaticon-wrench-silhouette:before { content: "\f28a"; }
.flaticon-write-a-note:before { content: "\f28b"; }
.flaticon-x-file:before { content: "\f28c"; }
.flaticon-zipped-file:before { content: "\f28d"; }
.flaticon-zoom-minus-sign:before { content: "\f28e"; }
.flaticon-zoom-with-plus-sign:before { content: "\f28f"; }