# dependencies
/node_modules

# images
# but keep logo and favicon
/src/assets/images/**
!/src/assets/images/logo.png
!/src/assets/images/favicons

# fonts
/src/assets/fonts/111235-admin-ui/**
!/src/assets/fonts/111235-admin-ui/font/
!/src/assets/fonts/111235-admin-ui/font/**

/src/assets/images/favicons/*
!/src/assets/images/favicons/favicon.ico

# compilery things for sass
/src/assets/style/.sass-cache
/src/assets/style/style.css.map
