# dependencies
/node_modules

# images
# but keep logo and favicon
/assets/images/**
!/assets/images/logo.png
!/assets/images/favicons

# fonts
/assets/fonts/111235-admin-ui/**
!/assets/fonts/111235-admin-ui/font/
!/assets/fonts/111235-admin-ui/font/**

/assets/images/favicons/*
!/assets/images/favicons/favicon.ico

# compilery things for sass
/assets/style/.sass-cache
/assets/style/style.css.map

# compilery things for semantic 
# but don't ignore semantic dist files, or our theme
/semantic/**
!/semantic/dist
!/semantic/src

/semantic/dist/**
!/semantic/dist/semantic.min.css
!/semantic/dist/semantic.min.js

/semantic/src/**
!/semantic/src/theme.config
!/semantic/src/themes/

/semantic/src/themes/**
!/semantic/src/themes/awmassage

!/semantic/src/themes/awmassage/**
