/* Cascading Style Sheet for AW Massage Website */
@import "./variables.scss";
@import "./semantic/dist/semantic.min.css";

body {
	font-family: $font-stack;
	font-size: 1em;
	color: black;
	line-height: 1.166;
	margin: 0px;
	padding: 0px;
	background: $secondary;
	ul { 
		list-style-type: none;
	}
	h2 {
		color: $primary;
	}

	#pageTitle { 
		font: bold 120% $font-stack-titles;
		font-size: 4em; 
		text-align: center;
		position: relative;
		padding: 20px; 
		background-color: $primary;
		color: white;
		img {
			height: 103px;
			width: auto;
			max-width: 100%;
			max-height: 100%;
			padding: 20px;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	
	#navBar {
	}
	
	#contactTable {
		width: 500px;
		margin-left: auto;
		margin-right: auto;
		border: 1px solid black;
		border-collapse: collapse;
		th, td, tr {
			padding: 6px;
			border: 1px solid black;
		}
		th {
			font-size: 1.1em;
		}
	} 
	
	#aboutTable {
		margin: auto;
		max-width: 900px;
		border: 0px solid black;
		tr, td {
			border: 0px;
		}
	}
	
	.centeredImage img {
		display: block;
		margin-top: 2em;
		margin-bottom: 2em;
		margin-left: auto;
		margin-right: auto;
	}
	
	#mainContent {
	}
	
	#cards {
		margin: 10px 0;
		padding: 20px 0;
		img {
			height: 185px;
		}
	}

	#treatmentInfo {
		text-align: center;
		font-size: 1.5em;
		font-weight: bold;
		background-color: $primary;
		padding: 0.8em;
	}
	
	#footer { 
		margin: 3em 0 0;
		padding: 3em 0 2em;
	}

	.text-overlay {
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 10px 15px;
	}

	.word-wrap {
		overflow-wrap: break-word;
		word-wrap: break-word;
		word-break: break-word;
	}
}

