/* Playfair Display */
@font-face {
    font-family: PlayfairReg;
    src: url(../fonts/PlayfairDisplay/PlayfairDisplay-Regular.otf);
}
@font-face {
    font-family: PlayfairBold;
    src: url(../fonts/PlayfairDisplay/PlayfairDisplay-Bold.otf);
}
@font-face {
    font-family: PlayfairItal;
    src: url(../fonts/PlayfairDisplay/PlayfairDisplay-Italic.otf);
}

/* Tangerine */
@font-face {
    font-family: TangerineReg;
    src: url(../fonts/Tangerine/Tangerine_Regular.ttf);
}
@font-face {
    font-family: TangerineBold;
    src: url('../fonts/Tangerine/Tangerine_Bold.ttf');
}


/* Amiri */
@font-face {
    font-family: AmiriReg;
    src: url('../fonts/Amiri/Amiri-Regular.ttf');
}
@font-face {
    font-family: AmiriBold;
    src: url('../fonts/Amiri/Amiri-Bold.ttf');
}
@font-face {
    font-family: AmiriItal;
    src: url(../fonts/Amiri/Amiri-Italic.ttf);
}
@font-face {
    font-family: AmiriBoldItal;
    src: url('../fonts/Amiri/Amiri-BoldItalic.ttf');
}