/* Playfair Display */
@font-face {
    font-family: PlayfairReg;
    src: url(../fonts/PlayfairDisplay/PlayfairDisplay-Regular.otf);
}
@font-face {
    font-family: PlayfairBold;
    src: url(../fonts/PlayfairDisplay/PlayfairDisplay-Bold.otf);
}
@font-face {
    font-family: PlayfairItal;
    src: url(../fonts/PlayfairDisplay/PlayfairDisplay-Italic.otf);
}

/* Tangerine */
@font-face {
    font-family: TangerineReg;
    src: url(../fonts/Tangerine/Tangerine_Regular.ttf);
}
@font-face {
    font-family: TangerineBold;
    src: url(../fonts/Tangerine/Tangerine_Bold.ttf);
}
