/* Cascading Style Sheet for AW Massage Website */
@import "./variables.scss";

body {
	font-family: $font-body;
	font-size: 1.15rem;
	color: rgba(0,0,0,.65);;
	line-height: 1.166;
	margin: 0px;
	padding: 0px;
	background: white;
	ul { 
		list-style-type: none;
	}	
	h1, h2, h3, h4, h5, h6 {
		font-family: $font-heading;
		padding: 0;
		font-weight: 700;
	}
	h1 { 
		font-size: 2rem;
		line-height: 2rem;
	}
	h2 {
		font-size: 1.7rem;
		line-height: 1.7rem;
	}
	h3 { 
		font-size: 1.3rem;
		line-height: 1.3rem;
	}
	h4 { 
		font-size: 1.1rem;
		line-height: 1.1rem;
	}
	h5 { 
		font-size: 1rem;
		line-height: 1rem;
	}
	h6 { 
		font-size: .9rem;
		line-height: .9rem;
	}
	p { 
		line-height: 1.43em; 
		&:last-child { 
			margin-bottom: 0;
		}
	}
	a {
		color: $primary;
		text-decoration: none;
		font-weight: bold;
		&:hover {
			color: $secondary-dark;
			text-decoration: none;
		}
	}
}

/* Announcement Banner */
#banner {
	display: none;
    background-color: $alert;
    padding: 12px 0;
    color: $grey-very-dark;
    text-align: center;
    .container {
        display: flex;
        justify-content: center;
    }
}

/* Contact Bar */
#contactBar {
	background-color: $secondary-dark;
	padding: 5px 0;
	.container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
	//override <a>
	*, a { 
		font-family: $font-heading;
		color: $white;
		font-weight: 100;
		transition: all .3s ease 0s;
		a:hover {
			i {
				color: $primary;
			}
			color: $primary;
		}
	}

}

/* Navigation */
$nav-transition-time: 1s;
#mainNavbar {
	padding: 0;
	font-size: 1.12rem;
	background: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: all $nav-transition-time linear 0s; //todo: turn this off on mobile
	.logo-image {
		transition: all $nav-transition-time linear 0s; //todo: turn this off on mobile
	}
	#navLogo {
		margin-bottom: 10px;
	}
}

#mainNavbarContent {
	justify-content: center;
	font-family: $font-heading;
	> ul {
		align-items: center;
		li {
			padding: 10px;
			a {
				transition: all .3s ease 0s; //ease colour on hover
			}
			a:hover {
				color: $primary-dark;
			}
		}
	}
}

/* Logo styling in navbar (temp)*/ 
//todo extend to be reusable with sass, make height and padding ratios
.logo-image {
	margin-left: 10px;
	height: 65px;
	padding: 10px 10px 0 10px;
}
.logo-text {
	font-family: $font-logo;
	margin-top: -2px;
	text-align: center;
	font-size: 2rem; //2.3
	color: $primary; //grey;
	font-weight: normal;
}

/* For navbar logo text only*/
.fade-in {
	animation: fadein-text $nav-transition-time linear forwards;
	-webkit-animation:  fadein-text $nav-transition-time linear forwards;
}

.fade-out {
	animation: fadeout-text $nav-transition-time linear forwards;
	-webkit-animation: fadeout-text $nav-transition-time linear forwards;
}

//note: an inconsistent keyframe-percent%:font-size ratio will result in animation appearing to change speed; please calculate ratios correctly
@keyframes fadein-text {
	0% {opacity: 0; font-size: 0; flex:0;}
	80% {opacity: 0; font-size: 1.6rem; flex: 1;}
	100% {opacity: 1; font-size: 2rem; flex: 1;}
}

@-webkit-keyframes fadein-text {
	0% {opacity: 0; font-size: 0; flex:0;}
	80% {opacity: 0; font-size: 1.6rem; flex: 1;}
	100% {opacity: 1; font-size: 2rem; flex: 1;}
}

@keyframes fadeout-text {
	0% {opacity: 1; flex: 1;}
	25% {opacity: 0; font-size: 1.5rem;}
	100% {opacity: 0; font-size: 0; flex: 0;}
}

@-webkit-keyframes fadeout-text {
	0% {opacity: 1; flex: 1}
	25% {opacity: 0; font-size: 1.5rem;}
	100% {opacity: 0; font-size: 0; flex:0;}
}

/* Mobile menu */
.mobile-menu-toggle-wrapper {
	position: relative;
	width: 100%;
}
#mobileMenuToggle {
	position: absolute;
	bottom: -20px;
	right: 0;
	margin: 0 20px;
	padding: 7px 7px 3px 7px;

	background: $primary;
	border-radius: $border-radius;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
	cursor: pointer;
	
	.icon-rotate-wrapper {
		transition: all 0.6s ease-in-out;
		i {
			color: $white !important;
		}
	}	
}

.rotateDown { 
	transform: rotate3d(0, 0, 0, 0);
	margin: 0;
}

.rotateUp {
	transform: rotate3d(1, 0, 0, 180deg);
	margin-top: -4px; //center when upside down; icon isn't same length in 
	margin-bottom: 4px;
}

/* Header */
#pageHeader {
	min-height: 425px;
	background-image: linear-gradient(rgba(136, 51, 51, 0.35), rgba(0, 0, 0, 0.35)), url(../images/head-massage.jpg);
	background-repeat: no-repeat;
	background-position: 50% 30%;
	background-size: cover;
	color: $white;
	text-align: center;
	margin-bottom: 0;
}

.coloured-header {
	margin: 0;
	padding: 4rem 2rem;
	background: $secondary-gradient;
	//background-color: $secondary;
	color: $white;
	text-align: center;
	hr {
		border-color: $white;
	}
}

#companyHeader {
	@extend .coloured-header;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
	font-family: $font-heading;
	font-weight: initial;
	h1 {
		margin-bottom: 0;
		&.fancy-font {
      font-size: 4rem;
      line-height: 4.7rem;
      font-weight: normal;
		}
	}
    p {
        font-style: italic;
    }
	.offset {
		margin-left: 30vw;
	}
}

/* index.html content */
#treatmentsDesc {
	margin-bottom: 2rem;
	text-align: center;
}

.list-group-flush:first-child .list-group-item:first-child {
	border-top: 1px solid rgba(0,0,0,.125);
}
#treatmentsSlider {
	display: flex;
	.btn {
		margin: 20px 0;
	}
	h1, h2, h3, h4, h5, h6 {
		color: $primary;
	}
	#sliderTitle {
		flex: 1;
		max-width: 320px;
		.list-group-item {
			color: rgba(0, 0, 0, 0.65);
		}
        .list-group-item-action:focus {
            background-color: white;
        }
		.list-group-item.active {
			color: $primary;
			font-weight: bold;
			background-color: white;
			border-color: rgba(0,0,0,.125);
			box-shadow: 4px 0 0 0 $primary;
		}
	}
	#sliderImage {
		padding: 0 10px 0 20px;
		display: flex;
    position: relative;
		img {
      display: none;
			align-self: center;
			height: 280px;
		}
    .filter {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $primary;
      mix-blend-mode: color;
    }
	}
	#sliderContent {
		flex: 1;
		padding: 20px 10px 0;
	}
}

#openingTimes {
	background-color: $grey-light;
	overflow: hidden;
	.opening-text {
		margin: auto; 
		padding-right: 30px;
		ul {
			margin-bottom: 1.5rem;
		}
	}
	.offset-square {
		position: relative;
		display: flex;
		margin: auto;
		img {
			position: relative; //stay on top
			height: 200px;
			margin: auto;
		}
		.square {
			position: relative;
			margin: auto;
		}
		.square::before {
			position: absolute;
			content: '';
			height: 200px;
			width: 260px;
			top: 0;
			left: 0;
			margin: 15px 0 0 50px; //offset amount
			background-color: $secondary;
		}
	}
}

/* Testimonials carousel */
#testimonials {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/consultation.jpg');
  	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	color: white;
	text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.3);
	.left-quote {
		font-size: 30px;
	}
	.right-quote {
		font-size: 30px;
	}
}

#testimonialsCarousel {
	padding: 100px 20px;
	.carousel-indicators {
		margin-bottom: 0;
		& li {
			background-color: $primary;
			height: 4px;
		}
	}
}

#contact {
	background-color: $secondary-dark;
	color: white;
	text-align: center;
	margin-bottom: 0;
	a:hover {
		color: $primary-light;
	}
}

/* treatments.html content */
#costs {
	background-color: $primary;
	color: $white;
	padding-top: 3rem;
	padding-bottom: 3rem;
	text-align: center;
}

#treatmentsMainContent {
  h2 {
    padding-top: 35px;
  }
}

/* feedback.html content */
#feedbackMainContent {
  b {
    color: $primary;
  }
}

.jump-link-offset {
	display: block;
	position: relative;
	top: calc(-126px - 35px); //height will be changed in script, but set to a sensible default
	visibility: hidden;
}

/* whattoexpect.html content */
#massageAccordion .card-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	a {
		cursor: pointer;
	}
}

/* contact.html content */
#contactTable {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	border-collapse: collapse;
	th, td, tr {
		padding: 6px;
		border: 1px solid black;
	}
	th {
		font-size: 1.1em;
	}
}

#location {
  position: relative;
  height: 0;
  padding-bottom: 32rem;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/* about.html content */
#aboutLogos {
	padding-top: 0;
}

/* Footer */
#footer { 
	background-color: white;
	color: rgba(0, 0, 0, 0.5);
	padding: 2.5rem 0 1rem 0;
	a, a:hover {
		color: rgba(0, 0, 0, 0.5);
		font-weight: 100;
	}
	.copyright {
		display: flex;
		justify-content: center;
		flex-direction: column;
        text-align: center;
        margin-top: 10px;
		img {
			align-self: center;
		}
	}
}

/* Utility classes */
.text-overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px 15px;
	text-align: center;
}

//to be placed on container-fluid divs
.text-container {
	padding-top: 4rem;
	padding-bottom: 4rem;
}

//to be placed on container-fluid divs; uneven padding
.quote-container {
	padding-top: 6rem;
	padding-bottom: 3rem;
}

//container with increased padding on larger screen sizes
//use without .container
//responsive and aligned with Bootstrap
.container-tight {
	width: 100%;
	padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

//even more padding on extra large desktop sizes
.container-extra-tight {
	@extend .container-tight;
}

//img must be the first element in container for floating to work
.wrap-around-img {
	display: flex;
	flex-direction: column;
	img {
		margin: 0 auto 3rem;
	}
}

// wrap child p tags in a div to prevent text reversal
.wrap-around-img-below {
	@extend .wrap-around-img;
	flex-direction: column-reverse;
	img {
		margin: 3rem auto 0;
	}
}

ul.list {
	display: block;
	margin: 1em 0;
	padding: 0;
	list-style-type: none;
	li {
		display: block;
		padding: .45rem 0;
		&:first-child {
			margin-top: 0;
			padding-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
			padding-bottom: 0;
		}
		i {
			margin: 0;
			padding: 0;
			padding-right: .4rem;
			vertical-align: top;
		}
	}
	//between every li element, insert an off-white bar
	&.bar > li {
		border-top: 1px solid rgba(255, 255, 255, 0.85);
		&:first-child {
			border-top: none;
		}
	}
}

//between every li element, insert a bar
.horizontal-bar-list {
	padding: 0;
	li {
		display: inline-block;
		margin: 0;
		font-size: 1rem;
		line-height: .6;
		border-left: 1px solid rgba(0, 0, 0, 0.5);
		&:first-child {
			border-left: none;
		}
		&:not(:first-child) {
			padding-left: .5em;
		}
		&:not(:last-child) {
			padding-right: .5em
		}
	}
	i {
		vertical-align: middle;
		margin: 0;
		padding: 0 .25em 0 0;
	}
	
}

.highlight-font {
	font-family: $font-heading-italics;
	color: $primary;
}

.primary-font {
	color: $primary;
}

.logo-font {
	font-family: $font-logo;
}

.rtl {
  direction: rtl;
}

[class^="flaticon-"] {
	color: $primary;
}

/* Bootstap overrides */

.btn-primary {
	background: $primary;
	border: none;
	border-radius: $border-radius;

	font-family: $font-button;
	font-size: $button-font-size;

	&:hover, &:active {
		background: $primary-light !important;
		border: none !important;
	}
	&:focus, &:focus-within {
		box-shadow: 0 0 0 .2rem $primary-very-light !important;
	}
	&:focus-within {
		box-shadow: none !important;
	}
}

.lead {
	font-family: $font-heading;
	font-size: 1.3rem;
	&.italics {
		font-family: $font-heading-italics;
	}
}

hr.white {
	border-color: white;
}

.fancy-font {
	font-family: $font-logo;
}

.alternate-bg {
  background-color: $grey-light;
}


/*#region Media queries */

@media only screen and (max-width: 700px) {
	#navBar {
		//hide clickable menu items and non-clickable dropdown
		a, div.ui.dropdown {
			display: none;
		} 
		//show mobile sidebar menu opener
		a.toggle.item {
			display: block;
		}
	}
}

/*#region Bootstrap mobile-first responsive breakpoints */

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
	.container-tight {
		max-width: 540px;
		padding-right: 15px;
		padding-left: 15px;
	}
	#contactBar .container {
		justify-content: space-between;
	}
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
	.container-tight {
		max-width: 700px;
		padding-right: 15px;
		padding-left: 15px;
	}
	.mobileMenuToggle-wrapper, #mobileMenuToggle {
		display: none;
	}
	#mainNavbar #navLogo {
		padding-bottom: 0;
		margin-top: 10px;
		margin-bottom: 0;
  }
  #treatmentsSlider #sliderImage img {
    display: block;
  }
	.wrap-around-img {
		display: block;
		img {
			float: right;
			margin: 0 0 20px 20px;
		}
	}
 }

 @media (min-width: 768px) and (max-width: 991.98px) { 
	#mainNavbarContent > ul li {
		padding: 10px 3px;
	}
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
	.container-tight {
		max-width: 700px;
		padding-right: 15px;
		padding-left: 15px;
	}
	#mainNavbarContent > ul li {
		padding: 10px;
	}
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
	.container-tight {
		max-width: 900px;
		padding-right: 15px;
		padding-left: 15px;
	}
	.container-extra-tight {
		max-width: 800px;
	}
  #treatmentsSlider #sliderImage img {
    height: 235px;
  }
 }

/*#endregion*/

/*#region Bootstrap desktop-first responsive breakpoints */

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
	//overwrite removal of margins on mobile for bootstrap row
	.row-mobile-ow {
		margin-right: 0;
		margin-left: 0;
	}
	#footer {
		.row-wrapper {
			margin-bottom: 15px;
		}
		.about {
			margin: 0 15px;
		}
	} 
 }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {  }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {  }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {  }

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width

/*#endregion*/
/*#endregion*/
