/* Cascading Style Sheet for AW Massage Website */
@import "./variables.scss";
@import "../../semantic/dist/semantic.min.css";

body {
	font-family: $font-stack;
	font-size: 1em;
	color: black;
	line-height: 1.166;
	margin: 0px;
	padding: 0px;
	background: $secondary;
	ul { 
		list-style-type: none;
	}
	h2 {
		//color: $primary;
	}
}

/* Temporary logo styling */
.logo-image {
	margin-left: 10px; //15
	height: 65px;
	padding: 10px 10px 0 10px;
}
.logo-text {
	font-family: $font-logo;
	margin-top: -2px;
	text-align: center;
	font-size: 2rem; //2.3
	color: $primary; //grey;
}

/* Navigation */
#mainNavbar {
	font-size: 1.12rem;
	background: #ffffff;
}

#mainNavbarContent {
	justify-content: center;
	font-family: $font-heading;
	> ul {
		align-items: center;
		li {
			padding: 10px;
			:hover {
				color: #704d9a;
			}
		}
	}
}

/* Carousel */
#pageHeader {
	min-height: 425px;
}

#treatments {
	margin: 25px 0;
}

#contactTable {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	border-collapse: collapse;
	th, td, tr {
		padding: 6px;
		border: 1px solid black;
	}
	th {
		font-size: 1.1em;
	}
} 

#aboutTable {
	margin: auto;
	max-width: 900px;
	border: 0px solid black;
	tr, td {
		border: 0px;
	}
}

.centeredImage img {
	display: block;
	margin-top: 2em;
	margin-bottom: 2em;
	margin-left: auto;
	margin-right: auto;
}

#mainContent {
}

#treatmentInfo {
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	background-color: $primary;
	padding: 0.8em;
}

#footer { 
	margin: 3em 0 0;
	padding: 3em 0 2em;
}

//utility classes

.text-overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px 15px;
	text-align: center;
}

.word-wrap {
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
}

/* Media queries */

@media only screen and (max-width: 700px) {
	#navBar {
		//hide clickable menu items and non-clickable dropdown
		a, div.ui.dropdown {
			display: none;
		} 
		//show mobile sidebar menu opener
		a.toggle.item {
			display: block;
		}
	}
}
