/* Cascading Style Sheet for AW Massage Website */
@import "./variables.scss";

body {
	font-family: $font-body;
	font-size: 1.15rem;
	color: rgba(0,0,0,.65);;
	line-height: 1.166;
	margin: 0px;
	padding: 0px;
	background: white;
	ul { 
		list-style-type: none;
	}	
	h1, h2, h3, h4, h5, h6 {
		font-family: $font-heading;
		line-height: 1.3rem;
		padding: 0;
		font-weight: 700;
	}
	h1 { font-size: 2rem }
	h2 { font-size: 1.7rem }
	h3 { font-size: 1.3rem }
	h4 { font-size: 1.1rem }
	h5 { font-size: 1rem }
	h6 { font-size: .9rem }
	p { 
		line-height: 1.43em; 
		&:last-child { 
			margin-bottom: 0;
		}
	}
	a {
		color: $primary;
		text-decoration: none;
		font-weight: bold;
		&:hover {
			color: $secondary-dark;
			text-decoration: none;
		}
	}
}

/* Contact Bar */
#contactBar {
	background-color: $secondary-dark;
	padding: 5px 0;
	//override <a>
	*, a { 
		font-family: $font-heading;
		color: white;
		font-weight: 100;
		transition: all .3s ease 0s;
		a:hover {
			i {
				color: $primary;
			}
			color: $primary;
		}
	}
	.left, .right {
		display: inline;
	}
	.right {
		float: right;
	}
}

/* Navigation */
$nav-transition-time: 1s;
#mainNavbar {
	padding: .5rem 0;
	font-size: 1.12rem;
	background: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: all $nav-transition-time linear 0s; //todo: turn this off on mobile
	.logo-image {
		transition: all $nav-transition-time linear 0s; //todo: turn this off on mobile
	}
}

#mainNavbarContent {
	justify-content: center;
	font-family: $font-heading;
	> ul {
		align-items: center;
		li {
			padding: 10px;
			a {
				transition: all .3s ease 0s; //ease colour on hover
			}
			a:hover {
				color: $primary-dark;
			}
		}
	}
}

/* Logo styling in navbar (temp)*/ 
//todo extend to be reusable with sass, make height and padding ratios
.logo-image {
	margin-left: 10px;
	height: 65px;
	padding: 10px 10px 0 10px;
}
.logo-text {
	font-family: $font-logo;
	margin-top: -2px;
	text-align: center;
	font-size: 2rem; //2.3
	color: $primary; //grey;
	font-weight: normal;
}

/* For navbar logo text only*/
.fade-in {
	animation: fadein-text $nav-transition-time linear forwards;
	-webkit-animation:  fadein-text $nav-transition-time linear forwards;
}

.fade-out {
	animation: fadeout-text $nav-transition-time linear forwards;
	-webkit-animation: fadeout-text $nav-transition-time linear forwards;
}

//note: an inconsistent keyframe-percent%:font-size ratio will result in animation appearing to change speed; please calculate ratios correctly
@keyframes fadein-text {
	0% {opacity: 0; font-size: 0; flex:0;}
	80% {opacity: 0; font-size: 1.6rem; flex: 1;}
	100% {opacity: 1; font-size: 2rem; flex: 1;}
}

@-webkit-keyframes fadein-text {
	0% {opacity: 0; font-size: 0; flex:0;}
	80% {opacity: 0; font-size: 1.6rem; flex: 1;}
	100% {opacity: 1; font-size: 2rem; flex: 1;}
}

@keyframes fadeout-text {
	0% {opacity: 1; flex: 1;}
	25% {opacity: 0; font-size: 1.5rem;}
	100% {opacity: 0; font-size: 0; flex: 0;}
}

@-webkit-keyframes fadeout-text {
	0% {opacity: 1; flex: 1}
	25% {opacity: 0; font-size: 1.5rem;}
	100% {opacity: 0; font-size: 0; flex:0;}
}


/* Header */
#pageHeader {
	min-height: 425px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../images/head-massage.jpg);
	background-repeat: no-repeat;
	background-position: 50% 30%;
	background-size: cover;
	color: white;
	text-align: center;
	margin-bottom: 0;
}

#companyHeader {
	background-color: $secondary-dark;
	font-family: $font-heading;
	font-weight: initial;
	color: white;
	text-align: center;
	h3 {
		margin-bottom: 0;
	}
}

#mainContent {
	img {
		width: 250px;
		margin-left: 10px;
	}
}

/* Testimonials carousel */
#testimonials {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/consultation.jpg');
  background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	color: white;
	text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.3);
	.left-quote {
		font-size: 30px;
	}
	.right-quote {
		font-size: 30px;
	}
}

#testimonialsCarousel {
	padding: 100px 20px;
	.carousel-indicators li {
		background-color: $primary;
		height: 4px;
	}
}

#treatmentsHeader {
	background: url('../images/forest-fog.jpg') no-repeat fixed center;
	//background-color: $secondary;
	color: white;
	text-align: center;
	margin: 0;
	hr {
		border-color: white;
	}
}

#treatmentsDesc {
	margin-bottom: 2rem;
	text-align: center;
}

.list-group-flush:first-child .list-group-item:first-child {
	border-top: 1px solid rgba(0,0,0,.125);;
}
#treatmentsSlider {
	display: flex;
	.btn {
		margin: 20px 0;
	}
	h1, h2, h3, h4, h5, h6 {
		color: $primary;
	}
	#sliderTitle {
		flex: 1;
		max-width: 320px;
		.list-group-item.active {
			color: $primary;
			font-weight: bold;
			background-color: white;
			border-color: rgba(0,0,0,.125);
			box-shadow: 4px 0 0 0 $primary;
		}
	}
	#sliderImage {
		padding: 0 10px 0 20px;
	}
	#sliderContent {
		flex: 1;
		padding: 0 10px;
	}
}

#contact {
	background-color: $secondary-light;
	text-align: center;
	margin-bottom: 0;
}

#contactTable {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	border-collapse: collapse;
	th, td, tr {
		padding: 6px;
		border: 1px solid black;
	}
	th {
		font-size: 1.1em;
	}
} 

#aboutTable {
	margin: auto;
	max-width: 900px;
	border: 0px solid black;
	tr, td {
		border: 0px;
	}
}

.centeredImage img {
	display: block;
	margin-top: 2em;
	margin-bottom: 2em;
	margin-left: auto;
	margin-right: auto;
}

#mainContent {
}

#treatmentInfo {
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	background-color: $primary;
	padding: 0.8em;
}

#footer { 
	background-color: $secondary-dark;
	color: white;
	padding: 3em 0 2em;
	.copyright {
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		img {
			align-self: center;
		}
		ul {
			display: flex;
			justify-content: center;
		}
	}
}

/* Utility classes */
.text-overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px 15px;
	text-align: center;
}

.word-wrap {
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
}

//to be placed on container-fluid divs
.text-container {
	padding: 4rem 0;
}

//to be placed on container-fluid divs
.quote-container {
	padding: 4rem 7rem; //todo responsivity
}

//between every li element, insert a bar
ul.bar-list {
	display: block;
	margin: 1em 0;
	padding: 0;
	list-style-type: none;
	li {
		display: block;
		padding: .45rem 0;
		border-top: 1px solid rgba(255, 255, 255, 0.85);
		&:first-child {
			margin-top: 0;
			padding-top: 0;
			border-top: none;
		}
		&:last-child {
			margin-bottom: 0;
			padding-bottom: 0;
		}
		i {
			margin: 0;
			padding: 0;
			padding-right: .3em;
			vertical-align: top;
			-webkit-transition: color .1s ease; //todo
			transition: color .1s ease;
		}
	}
}

//between every li element, insert a bar
.horizontal-bar-list {
	padding: 0;
	li {
		display: inline-block;
		margin: 0;
		font-size: 1rem;
		line-height: .6;
		border-left: 1px solid rgba(255, 255, 255, .85);
		&:first-child {
			border-left: none;
		}
		&:not(:first-child) {
			padding-left: .5em;
		}
		&:not(:last-child) {
			padding-right: .5em
		}
	}
	i {
		vertical-align: middle;
		margin: 0;
		padding: 0 .25em 0 0;
	}
	
}

.highlight-font {
	font-family: $font-heading-italics;
	color: $primary;
}

.primary-font {
	color: $primary;
}

.logo-font {
	font-family: $font-logo;
}

[class^="flaticon-"] {
	color: $primary;
}

/* Bootstap overrides */

.btn-primary {
	background: $primary;
	border: none;
	&:hover, &:active {
		background: $primary-light;
		border: none;
	}
}

.lead {
	font-family: $font-heading;
	font-size: 1.3rem;
	&.italics {
		font-family: $font-heading-italics;
	}
}
hr.white {
	border-color: white;
}


/* Media queries */

@media only screen and (max-width: 700px) {
	#navBar {
		//hide clickable menu items and non-clickable dropdown
		a, div.ui.dropdown {
			display: none;
		} 
		//show mobile sidebar menu opener
		a.toggle.item {
			display: block;
		}
	}
}
