/* Cascading Style Sheet for AW Massage Website */
/* Site variables for AW Massage wesbsite*/
/* Playfair Display */
@font-face {
  font-family: PlayfairReg;
  src: url(../fonts/PlayfairDisplay/PlayfairDisplay-Regular.otf);
}
@font-face {
  font-family: PlayfairBold;
  src: url(../fonts/PlayfairDisplay/PlayfairDisplay-Bold.otf);
}
@font-face {
  font-family: PlayfairItal;
  src: url(../fonts/PlayfairDisplay/PlayfairDisplay-Italic.otf);
}
/* Tangerine */
@font-face {
  font-family: TangerineReg;
  src: url(../fonts/Tangerine/Tangerine_Regular.ttf);
}
@font-face {
  font-family: TangerineBold;
  src: url("../fonts/Tangerine/Tangerine_Bold.ttf");
}
/* Brand colours */
/* Font styling */
body {
  font-family: "Calibri Light", Calibri, Verdana, Arial, sans-serif;
  font-size: 1.15rem;
  color: rgba(0, 0, 0, 0.65);
  line-height: 1.166;
  margin: 0px;
  padding: 0px;
  background: #ffffff;
}
body ul {
  list-style-type: none;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: PlayfairReg, serif;
  margin: 0;
  line-height: 1.3rem;
  padding: 0;
  font-weight: 700;
}
body h1 {
  font-size: 2rem;
}
body h2 {
  font-size: 1.7rem;
}
body h3 {
  font-size: 1.3rem;
}
body h4 {
  font-size: 1.1rem;
}
body h5 {
  font-size: 1rem;
}
body h6 {
  font-size: 0.9rem;
}
body p {
  line-height: 1.43em;
}
body p:last-child {
  margin-bottom: 0;
}
body a {
  color: #441B70;
  text-decoration: none;
}
body a:hover {
  color: #2B0B56;
}

/* Navigation */
#mainNavbar {
  padding: 0.5rem 0;
  font-size: 1.12rem;
  background: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 1s linear 0s;
}
#mainNavbar .logo-image {
  transition: all 1s linear 0s;
}

#mainNavbarContent {
  justify-content: center;
  font-family: PlayfairReg, serif;
}
#mainNavbarContent > ul {
  align-items: center;
}
#mainNavbarContent > ul li {
  padding: 10px;
}
#mainNavbarContent > ul li a {
  transition: all 0.3s ease 0s;
}
#mainNavbarContent > ul li a:hover {
  color: #2B0B56;
}

/* Logo styling in navbar (temp)*/
.logo-image {
  margin-left: 10px;
  height: 65px;
  padding: 10px 10px 0 10px;
}

.logo-text {
  font-family: TangerineBold, cursive, sans-serif;
  margin-top: -2px;
  text-align: center;
  font-size: 2rem;
  color: #441B70;
}

/* For navbar logo text only*/
.fade-in {
  animation: fadein-text 1s linear forwards;
  -webkit-animation: fadein-text 1s linear forwards;
}

.fade-out {
  animation: fadeout-text 1s linear forwards;
  -webkit-animation: fadeout-text 1s linear forwards;
}

@keyframes fadein-text {
  0% {
    opacity: 0;
    font-size: 0;
    flex: 0;
  }
  80% {
    opacity: 0;
    font-size: 1.6rem;
    flex: 1;
  }
  100% {
    opacity: 1;
    font-size: 2rem;
    flex: 1;
  }
}
@-webkit-keyframes fadein-text {
  0% {
    opacity: 0;
    font-size: 0;
    flex: 0;
  }
  80% {
    opacity: 0;
    font-size: 1.6rem;
    flex: 1;
  }
  100% {
    opacity: 1;
    font-size: 2rem;
    flex: 1;
  }
}
@keyframes fadeout-text {
  0% {
    opacity: 1;
    flex: 1;
  }
  25% {
    opacity: 0;
    font-size: 1.5rem;
  }
  100% {
    opacity: 0;
    font-size: 0;
    flex: 0;
  }
}
@-webkit-keyframes fadeout-text {
  0% {
    opacity: 1;
    flex: 1;
  }
  25% {
    opacity: 0;
    font-size: 1.5rem;
  }
  100% {
    opacity: 0;
    font-size: 0;
    flex: 0;
  }
}
/* Header */
#pageHeader {
  min-height: 425px;
  background: url("../images/leaf-on-wood.jpg") no-repeat scroll center;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  margin-bottom: 0;
}

#companyHeader {
  background-color: #441B70;
  font-family: PlayfairReg, serif;
  font-weight: initial;
  color: #ffffff;
  text-align: center;
}

#mainContent img {
  width: 250px;
  margin-left: 10px;
}

/* Testimonals carousel */
#testimonals .left-quote {
  font-size: 30px;
}
#testimonals .right-quote {
  font-size: 30px;
}

#testimonalsCarousel {
  padding: 100px 20px;
}
#testimonalsCarousel .carousel-indicators li {
  background-color: #441B70;
  height: 4px;
}

#treatmentsHeader {
  background: url("../images/forest-fog.jpg") no-repeat fixed center;
  color: #ffffff;
  text-align: center;
  margin-top: 2rem;
}
#treatmentsHeader hr {
  border-color: #ffffff;
}

#contact {
  background-color: #E7DB6B;
  text-align: center;
  margin-bottom: 0;
}

#contactTable {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-collapse: collapse;
}
#contactTable th, #contactTable td, #contactTable tr {
  padding: 6px;
  border: 1px solid black;
}
#contactTable th {
  font-size: 1.1em;
}

#aboutTable {
  margin: auto;
  max-width: 900px;
  border: 0px solid black;
}
#aboutTable tr, #aboutTable td {
  border: 0px;
}

.centeredImage img {
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
}

#treatmentInfo {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  background-color: #441B70;
  padding: 0.8em;
}

#footer {
  background-color: #000000;
  color: #ffffff;
  padding: 3em 0 2em;
}
#footer .copyright {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
#footer .copyright img {
  align-self: center;
}
#footer .copyright ul {
  display: flex;
  justify-content: center;
}

/* Utility classes */
.text-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 15px;
  text-align: center;
}

.word-wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.bar-list {
  list-style-type: none;
}

.highlight-font {
  font-family: PlayfairItal, serif;
  color: #441B70;
}

.primary-font {
  color: #441B70;
}

.logo-font {
  font-family: TangerineBold, cursive, sans-serif;
}

[class^=flaticon-] {
  color: #441B70;
}

/* Bootstap overrides */
.btn-primary {
  background: #441B70;
  border: none;
}
.btn-primary:hover, .btn-primary:active {
  background: #71509C;
  border: none;
}

.lead {
  font-family: PlayfairReg, serif;
  font-size: 1.3rem;
}
.lead.italics {
  font-family: PlayfairItal, serif;
}

hr.white {
  border-color: #ffffff;
}

/* Media queries */
@media only screen and (max-width: 700px) {
  #navBar a, #navBar div.ui.dropdown {
    display: none;
  }
  #navBar a.toggle.item {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
