/* Cascading Style Sheet for AW Massage Website */
/* Site variables for AW Massage wesbsite*/
/* Playfair Display */
@font-face {
  font-family: PlayfairReg;
  src: url(../fonts/PlayfairDisplay/PlayfairDisplay-Regular.otf);
}
@font-face {
  font-family: PlayfairBold;
  src: url(../fonts/PlayfairDisplay/PlayfairDisplay-Bold.otf);
}
@font-face {
  font-family: PlayfairItal;
  src: url(../fonts/PlayfairDisplay/PlayfairDisplay-Italic.otf);
}
/* Tangerine */
@font-face {
  font-family: TangerineReg;
  src: url(../fonts/Tangerine/Tangerine_Regular.ttf);
}
@font-face {
  font-family: TangerineBold;
  src: url("../fonts/Tangerine/Tangerine_Bold.ttf");
}
/* Amiri */
@font-face {
  font-family: AmiriReg;
  src: url("../fonts/Amiri/Amiri-Regular.ttf");
}
@font-face {
  font-family: AmiriBold;
  src: url("../fonts/Amiri/Amiri-Bold.ttf");
}
@font-face {
  font-family: AmiriItal;
  src: url(../fonts/Amiri/Amiri-Italic.ttf);
}
@font-face {
  font-family: AmiriBoldItal;
  src: url("../fonts/Amiri/Amiri-BoldItalic.ttf");
}
/* Brand colours */
/* Font styling */
/* Mixins */
/* Buttons and mobile menu toggle */
body {
  font-family: AmiriReg, Georgia, "Times New Roman", Times, serif;
  font-size: 1.15rem;
  color: rgba(0, 0, 0, 0.65);
  line-height: 1.166;
  margin: 0px;
  padding: 0px;
  background: white;
}
body ul {
  list-style-type: none;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: PlayfairReg, Georgia, "Times New Roman", Times, serif;
  padding: 0;
  font-weight: 700;
}
body h1 {
  font-size: 2rem;
  line-height: 2.2rem;
}
body h2 {
  font-size: 1.7rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}
body h3 {
  font-size: 1.3rem;
  line-height: 1.5rem;
}
body h4 {
  font-size: 1.1rem;
  line-height: 1.3rem;
}
body h5 {
  font-size: 1rem;
  line-height: 1.2rem;
}
body h6 {
  font-size: 0.9rem;
  line-height: 1.1rem;
}
body p {
  line-height: 1.43em;
}
body p:last-child {
  margin-bottom: 0;
}
body a {
  color: #441B70;
  text-decoration: none;
  font-weight: bold;
}
body a:hover {
  color: #9990bd;
  text-decoration: none;
}

/* Announcement Banner */
#banner {
  display: none;
  background-color: #ffd700;
  padding: 12px 0;
  color: #464646;
  text-align: center;
}
#banner .container {
  display: flex;
  justify-content: center;
}

/* Contact Bar */
#contactBar {
  background-color: #9990bd;
  padding: 5px 0;
}
#contactBar .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#contactBar *, #contactBar a {
  font-size: 1.2rem;
  font-family: PlayfairReg, Georgia, "Times New Roman", Times, serif;
  color: #ffffff;
  font-weight: 100;
  transition: all 0.3s ease 0s;
}
#contactBar * a:hover, #contactBar a a:hover {
  color: #441B70;
}
#contactBar * a:hover i, #contactBar a a:hover i {
  color: #441B70;
}

/* Navigation */
#mainNavbar {
  padding: 0;
  font-size: 1.12rem;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 1s linear 0s;
}
#mainNavbar .logo-image {
  transition: all 1s linear 0s;
}
#mainNavbar #navLogo {
  margin-bottom: 10px;
}

#mainNavbarContent {
  justify-content: center;
  font-family: PlayfairReg, Georgia, "Times New Roman", Times, serif;
}
#mainNavbarContent > ul {
  align-items: center;
}
#mainNavbarContent > ul li {
  padding: 10px;
}
#mainNavbarContent > ul li a {
  transition: all 0.3s ease 0s;
}
#mainNavbarContent > ul li a:hover {
  color: #2B0B56;
}

/* Logo styling in navbar (temp)*/
.logo-image {
  margin-left: 10px;
  height: 65px;
  padding: 10px 10px 0 10px;
}

.logo-text {
  font-family: TangerineBold, "Brush Script MT", cursive, sans-serif;
  margin-top: -2px;
  text-align: center;
  font-size: 2rem;
  color: #441B70;
  font-weight: normal;
}

/* For navbar logo text only*/
.fade-in {
  animation: fadein-text 1s linear forwards;
  -webkit-animation: fadein-text 1s linear forwards;
}

.fade-out {
  animation: fadeout-text 1s linear forwards;
  -webkit-animation: fadeout-text 1s linear forwards;
}

@keyframes fadein-text {
  0% {
    opacity: 0;
    font-size: 0;
    flex: 0;
  }
  80% {
    opacity: 0;
    font-size: 1.6rem;
    flex: 1;
  }
  100% {
    opacity: 1;
    font-size: 2rem;
    flex: 1;
  }
}
@-webkit-keyframes fadein-text {
  0% {
    opacity: 0;
    font-size: 0;
    flex: 0;
  }
  80% {
    opacity: 0;
    font-size: 1.6rem;
    flex: 1;
  }
  100% {
    opacity: 1;
    font-size: 2rem;
    flex: 1;
  }
}
@keyframes fadeout-text {
  0% {
    opacity: 1;
    flex: 1;
  }
  25% {
    opacity: 0;
    font-size: 1.5rem;
  }
  100% {
    opacity: 0;
    font-size: 0;
    flex: 0;
  }
}
@-webkit-keyframes fadeout-text {
  0% {
    opacity: 1;
    flex: 1;
  }
  25% {
    opacity: 0;
    font-size: 1.5rem;
  }
  100% {
    opacity: 0;
    font-size: 0;
    flex: 0;
  }
}
/* Mobile menu */
.mobile-menu-toggle-wrapper {
  position: relative;
  width: 100%;
}

#mobileMenuToggle {
  position: absolute;
  bottom: -20px;
  right: 0;
  margin: 0 20px;
  padding: 7px 7px 3px 7px;
  background: #441B70;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
#mobileMenuToggle .icon-rotate-wrapper {
  transition: all 0.6s ease-in-out;
}
#mobileMenuToggle .icon-rotate-wrapper i {
  color: #ffffff !important;
}

.rotateDown {
  transform: rotate3d(0, 0, 0, 0);
  margin: 0;
}

.rotateUp {
  transform: rotate3d(1, 0, 0, 180deg);
  margin-top: -4px;
  margin-bottom: 4px;
}

/* Header */
#pageHeader {
  min-height: 425px;
  background-image: linear-gradient(rgba(136, 51, 51, 0.35), rgba(0, 0, 0, 0.35)), url(../images/head-massage.jpg);
  background-repeat: no-repeat;
  background-position: 50% 30%;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  margin-bottom: 0;
}

.coloured-header, #companyHeader {
  margin: 0;
  padding: 4rem 2rem;
  background: linear-gradient(40deg, #9990bd, #8e70af);
  color: #ffffff;
  text-align: center;
}
.coloured-header hr, #companyHeader hr {
  border-color: #ffffff;
}

#companyHeader {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-family: PlayfairReg, Georgia, "Times New Roman", Times, serif;
  font-weight: initial;
}
#companyHeader h2 {
  margin-bottom: 0;
  font-size: 2.3rem;
  line-height: 3.8rem;
  font-weight: normal;
}
#companyHeader p {
  font-style: italic;
  margin-bottom: 10px;
}
#companyHeader .offset {
  margin-left: 30vw;
}

/* index.html content */
#treatmentsDesc {
  margin-bottom: 2rem;
  text-align: center;
}

.list-group-flush:first-child .list-group-item:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

#treatmentsSlider {
  display: flex;
}
#treatmentsSlider .btn {
  margin: 20px 0;
}
#treatmentsSlider h1, #treatmentsSlider h2, #treatmentsSlider h3, #treatmentsSlider h4, #treatmentsSlider h5, #treatmentsSlider h6 {
  color: #441B70;
}
#treatmentsSlider #sliderTitle {
  flex: 1;
  max-width: 320px;
}
#treatmentsSlider #sliderTitle .list-group-item {
  color: rgba(0, 0, 0, 0.65);
}
#treatmentsSlider #sliderTitle .list-group-item-action:focus {
  background-color: white;
}
#treatmentsSlider #sliderTitle .list-group-item.active {
  color: #441B70;
  font-weight: bold;
  background-color: white;
  border-color: rgba(0, 0, 0, 0.125);
  box-shadow: 4px 0 0 0 #441B70;
}
#treatmentsSlider #sliderImage {
  padding: 0 10px 0 20px;
  display: flex;
  position: relative;
}
#treatmentsSlider #sliderImage img {
  display: none;
  align-self: center;
  height: 280px;
}
#treatmentsSlider #sliderImage .filter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #441B70;
  mix-blend-mode: color;
}
#treatmentsSlider #sliderContent {
  flex: 1;
  padding: 20px 10px 0;
}

#openingTimes {
  background-color: #f4f4f4;
  overflow: hidden;
}
#openingTimes .opening-text {
  margin: auto;
  padding-right: 30px;
}
#openingTimes .opening-text ul {
  margin-bottom: 1.5rem;
}
#openingTimes .offset-square {
  position: relative;
  display: flex;
  margin: auto;
}
#openingTimes .offset-square img {
  position: relative;
  height: 200px;
  margin: auto;
}
#openingTimes .offset-square .square {
  position: relative;
  margin: auto;
}
#openingTimes .offset-square .square::before {
  position: absolute;
  content: "";
  height: 200px;
  width: 260px;
  top: 0;
  left: 0;
  margin: 15px 0 0 50px;
  background-color: #b6add9;
}

/* Testimonials carousel */
#testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/consultation.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.3);
}
#testimonials .left-quote {
  font-size: 30px;
}
#testimonials .right-quote {
  font-size: 30px;
}

#testimonialsCarousel {
  padding: 100px 20px;
}
#testimonialsCarousel .carousel-indicators {
  margin-bottom: 0;
}
#testimonialsCarousel .carousel-indicators li {
  background-color: #441B70;
  height: 4px;
}

#contact {
  background-color: #9990bd;
  color: white;
  text-align: center;
  margin-bottom: 0;
}
#contact a:hover {
  color: #71509C;
}

/* treatments.html content */
#costs {
  background-color: #441B70;
  color: #ffffff;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}

#treatmentsMainContent h2, #whatToExpectMainContent > div:first-child h2 {
  color: #441B70;
  padding-top: 30px;
}
#treatmentsMainContent > div:first-child h2, #whatToExpectMainContent > div:first-child > div:first-child h2 {
  padding-top: 0;
}
#treatmentsMainContent ul, #whatToExpectMainContent > div:first-child ul {
  list-style-type: disclosure-closed;
}

/* feedback.html content */
#feedbackMainContent b {
  color: #441B70;
}

/* whattoexpect.html content */
#whatToExpectMainContent {
  padding-top: 0;
}
/* contact.html content */
#contactTable {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-collapse: collapse;
}
#contactTable th, #contactTable td, #contactTable tr {
  padding: 6px;
  border: 1px solid black;
}
#contactTable th {
  font-size: 1.1em;
}

#location {
  position: relative;
  height: 0;
  padding-bottom: 32rem;
}
#location iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* about.html content */
#aboutLogos {
  padding-top: 0;
}

/* Footer */
#footer {
  background-color: white;
  color: rgba(0, 0, 0, 0.5);
  padding: 2.5rem 0 1rem 0;
}
#footer a, #footer a:hover {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 100;
}
#footer .copyright {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 10px;
}
#footer .copyright img {
  align-self: center;
}

/* Utility classes */
.jump-link-offset {
  display: block;
  position: relative;
  top: -161px;
  visibility: hidden;
}

.text-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 15px;
  text-align: center;
}

.text-container {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.quote-container {
  padding-top: 6rem;
  padding-bottom: 3rem;
}

.container-tight, .container-extra-tight {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.wrap-around-img, .wrap-around-img-below {
  display: flex;
  flex-direction: column;
}
.wrap-around-img img, .wrap-around-img-below img {
  margin: 0 auto 3rem;
}

.wrap-around-img-below {
  flex-direction: column-reverse;
}
.wrap-around-img-below img {
  margin: 3rem auto 0;
}

.img-shadow {
  border-radius: 3px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

ul.list {
  display: block;
  margin: 1em 0;
  padding: 0;
  list-style-type: none;
}
ul.list li {
  display: block;
  padding: 0.45rem 0;
}
ul.list li:first-child {
  margin-top: 0;
  padding-top: 0;
}
ul.list li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
ul.list li i {
  margin: 0;
  padding: 0;
  padding-right: 0.4rem;
  vertical-align: top;
}
ul.list.bar > li {
  border-top: 1px solid rgba(255, 255, 255, 0.85);
}
ul.list.bar > li:first-child {
  border-top: none;
}

.horizontal-bar-list {
  padding: 0;
}
.horizontal-bar-list li {
  display: inline-block;
  margin: 0;
  font-size: 1rem;
  line-height: 0.6;
  border-left: 1px solid rgba(0, 0, 0, 0.5);
}
.horizontal-bar-list li:first-child {
  border-left: none;
}
.horizontal-bar-list li:not(:first-child) {
  padding-left: 0.5em;
}
.horizontal-bar-list li:not(:last-child) {
  padding-right: 0.5em;
}
.horizontal-bar-list i {
  vertical-align: middle;
  margin: 0;
  padding: 0 0.25em 0 0;
}

.highlight-font {
  font-family: PlayfairItal, Georgia, "Times New Roman", Times, serif;
  color: #441B70;
}

.primary-font {
  color: #441B70;
}

.logo-font {
  font-family: TangerineBold, "Brush Script MT", cursive, sans-serif;
}

.rtl {
  direction: rtl;
}

[class^=flaticon-] {
  color: #441B70;
}

/* Bootstap overrides */
.btn-primary {
  background: #441B70;
  border: none;
  border-radius: 4px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.05rem;
}
.btn-primary:hover, .btn-primary:active {
  background: #71509C !important;
  border: none !important;
}
.btn-primary:focus, .btn-primary:focus-within {
  box-shadow: 0 0 0 0.2rem #8670a1 !important;
}
.btn-primary:focus-within {
  box-shadow: none !important;
}

.lead {
  font-family: PlayfairReg, Georgia, "Times New Roman", Times, serif;
  font-size: 1.3rem;
}
.lead.italics {
  font-family: PlayfairItal, Georgia, "Times New Roman", Times, serif;
}

hr.white {
  border-color: white;
}

.fancy-font {
  font-family: TangerineBold, "Brush Script MT", cursive, sans-serif;
}

.alternate-bg {
  background-color: #f4f4f4;
}

/*#region Media queries */
@media only screen and (max-width: 700px) {
  #navBar a, #navBar div.ui.dropdown {
    display: none;
  }
  #navBar a.toggle.item {
    display: block;
  }
}
/*#region Bootstrap mobile-first responsive breakpoints */
@media (min-width: 576px) {
  .container-tight, .container-extra-tight {
    max-width: 540px;
    padding-right: 15px;
    padding-left: 15px;
  }
  #contactBar .container {
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .container-tight, .container-extra-tight {
    max-width: 700px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .mobileMenuToggle-wrapper, #mobileMenuToggle {
    display: none;
  }
  #mainNavbar #navLogo {
    padding-bottom: 0;
    margin-top: 10px;
    margin-bottom: 0;
  }
  #treatmentsSlider #sliderImage img {
    display: block;
  }
  .wrap-around-img, .wrap-around-img-below {
    display: block;
  }
  .wrap-around-img img, .wrap-around-img-below img {
    float: right;
    margin: 0 0 20px 20px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  #mainNavbarContent > ul li {
    padding: 10px 3px;
  }
}
@media (min-width: 992px) {
  .container-tight, .container-extra-tight {
    max-width: 700px;
    padding-right: 15px;
    padding-left: 15px;
  }
  #mainNavbarContent > ul li {
    padding: 10px;
  }
}
@media (min-width: 1200px) {
  .container-tight, .container-extra-tight {
    max-width: 900px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .container-extra-tight {
    max-width: 800px;
  }
  #treatmentsSlider #sliderImage img {
    height: 235px;
  }
}
/*#endregion*/
/*#region Bootstrap desktop-first responsive breakpoints */
@media (max-width: 575.98px) {
  .row-mobile-ow {
    margin-right: 0;
    margin-left: 0;
  }
  #footer .row-wrapper {
    margin-bottom: 15px;
  }
  #footer .about {
    margin: 0 15px;
  }
}
/*#endregion*/
/*#endregion*/

/*# sourceMappingURL=style.css.map */
