/* Site variables for AW Massage wesbsite*/
@import "./fonts.scss";

/* Brand colours */
$primary: #441B70; //#704d9a; #3E206A;
$primary-light: #71509C; //#553184;
$primary-dark: #2B0B56; //#553184;
$primary-grey: #e8e3ed;

$secondary: #b6add9;
$secondary-light: #ccc5e8;
$secondary-dark: #9990bd; //9f97be

$accent: #A4981F; 
$accent-light: #E7DB6B;  //#C2B63D
$accent-dark: #7F7406;  //#554D00

$grey: #bababa;
$grey-light: #e0e0e0;
$grey-dark: #999999; //a3a3a3
$grey-very-dark: #464646; //a3a3a3

$white: #ffffff;

$nav-bar-colour: $grey;

/* Font styling */

//for use with 'font-family'
$font-heading: PlayfairReg, serif;
$font-heading-bold: PlayfairReg, serif;
$font-heading-italics: PlayfairItal, serif;

$font-logo: TangerineBold, cursive, sans-serif;

$font-body: "Calibri Light", Calibri, Verdana, Arial, sans-serif;

//for use with 'color'
$font-colour-subtle: $grey-dark;
//$link-color: #f07f40;

//@mixin name {
    //$var: $eg;
//}