/* Site variables for AW Massage wesbsite*/
@import "./fonts.scss";

/* Brand colours */
$primary: #441B70; //#704d9a; #3E206A;
$primary-light: #71509C; //#553184;
$primary-very-light: #8670a1; //#553184;
$primary-dark: #2B0B56; //#553184;
$primary-grey: #e8e3ed;

$secondary: #b6add9;
$secondary-light: #ccc5e8;
$secondary-dark: #9990bd; //9f97be
$secondary-very-dark: #8e70af; //9f97be

$accent: #A4981F; 
$accent-light: #E7DB6B;  //#C2B63D
$accent-dark: #7F7406;  //#554D00

$alert: #ffd700;

$grey: #bababa;
$grey-light: #f4f4f4;
$grey-dark: #999999; //a3a3a3
$grey-very-dark: #464646; //a3a3a3

$white: #ffffff;

$nav-bar-colour: $grey;

/* Font styling */

//for use with 'font-family'
$font-heading: PlayfairReg, Georgia, 'Times New Roman', Times, serif;
$font-heading-bold: PlayfairReg, Georgia, 'Times New Roman', Times, serif;
$font-heading-italics: PlayfairItal, Georgia, 'Times New Roman', Times, serif;

$font-logo: TangerineBold, 'Brush Script MT', cursive, sans-serif;

$font-body: AmiriReg, Georgia, 'Times New Roman', Times, serif;
$font-button: Georgia, 'Times New Roman', Times, serif;

//for use with 'color'
$font-colour-subtle: $grey-dark;

/* Mixins */
//@mixin name {
    //$var: $eg;
//}

$secondary-gradient: linear-gradient(40deg, $secondary-dark, $secondary-very-dark);

/* Buttons and mobile menu toggle */
$border-radius: 4px;
$button-font-size: 1.05rem;